.dropdown::-webkit-scrollbar {
  height: 12px;
  width: 4px;
}

.dropdown::-webkit-scrollbar-track {
  background-color: transparent;
}

.dropdown::-webkit-scrollbar-thumb {
  background-color: rgba(154, 52, 18, 0.768);
  border-radius: 100px;
}
